.categoryInput{
    color: #624146; 
    border: none;
    border-bottom: 1px solid #624146;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-color: transparent;
    padding-top: 10px;
}


.categoryDiv{
    text-align: left;
}

.authoringView{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    height: 100%;
}

.authoringView h1{

    font-size: 30px; 
    padding-bottom: 3px;
    margin: 0;
    font-weight: normal;

}

.categories{
    background-color: #E9D0C4;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding-left: 5px;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;

    scrollbar-color: #776274 #A07178;
    
}

.categoryTemplate{
    background-color: #E9D0C4;
    width: 80%; 
    height: 150px;
    border-radius: 10px;
    padding-left: 5px;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;

    scrollbar-color: #776274 #A07178;
    
}

.smallButton{
    background-color: #776274;
    color:white; 
    font-size: medium;
    height: 30px;
    border-radius: 15px;
    border:  #776274; 
    margin: 5px;
   
    
}

.editor{
    background-color: #E9D0C4;
    overflow: auto;
    scrollbar-color: #776274 #A07178;
    height: 70%; 
    width: 100%;
}

.hintEditor{
    width: 70%;


 
    margin: 10px;

    padding: 20px;
}

.hintEditor li{
    width: 100%;
    margin-bottom: 5px;
}

.scenarioInput{
    margin-bottom: 5px;
    height: 100px;
    width: 70%;

    margin: 10px;

    padding: 20px;

    background-color:#faf2f9;
    border-radius: 5px;
    border-color:  #A07178;
    border-style: solid;
    padding: 12px 20px;

}
    
.nameInput{
        margin-bottom: 5px;
        height: 10px;
        width: 70%;
    
        margin: 10px;
    
        padding: 20px;
    
        background-color:#faf2f9;
        border-radius: 5px;
        border-color:  #A07178;
        border-style: solid;
        padding: 12px 20px;
    
    }

.hintEditor li input{
    width: 100%;
    height: fit-content;
    background-color:#faf2f9;
    border-radius: 5px;
    border-color:  #A07178;
    border-style: solid;
    padding: 12px 20px;
}

.puzzleArea{
   background-color: white; 
}


.smallButton:hover{
    background-color: #4d3f4b;
      
}

.mediumButton{
    background-color: #776274;
    color:white; 
    font-size: medium;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border:  #776274; 
    margin: 8px;
   
    
}.mediumButton[highlighted=true]{
    background-color: #8b2109;
}





.center{
    width: 100%;
    display: flex;
    justify-content: center;
}


.mediumButton:hover{
    background-color: #4d3f4b;
      
}

.largeButton{
    background-color: #522504;
    color:white; 
    font-size: large;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border:  #522504; 
    margin: 8px;
   
    
}


.largeButton:hover{
    background-color: #2e1502;
      
}

.entityList{
    list-style-type: none;
    padding-left: 0;
  
}

.entityList li{
    padding-top: 5px;
 
}

.entityList li input{
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
 
}

.categoryDiv label{
    font-size: 16px; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* color of the span text */
    color: rgb(119, 162, 241);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    /* color of the tooltip text */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .collapseButton {
    width: 100%;
    text-align: left;
    background-color: #A07178;
    /* color of the tooltip text */
    color: white;
    font-size: x-large; 
    padding: 10px;
    margin-bottom: 10px;
  }




