.community {
    overflow: auto;
    align-items: center;
    
}

.newPost h1{
    font-size:larger;
}

.postContainer{
    display: grid;
    overflow: auto;
    
    grid-template-columns: 1fr 1fr 1fr;
}



.puzzleSelectedElement h2, .puzzleSelectElement h2{ 
    font-size: large;
}

.puzzleSelectedElement button, .puzzleSelectElement button{ 
    width: 90% !important;
    margin-left: 5% !important;
}

.puzzleSelectedElement h3, .puzzleSelectElement h3{ 
    font-size:medium;
}

.selectPuzzleContainer{
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr;

    height:300px
}

.puzzleSelectedElement{
    border: 5px solid #522504; 
    padding: 5px; 
    background-color: #E6CCBE !important;
    overflow: auto;
    height: 250px;
  
}


.puzzleSelectElement {
    border: 1px solid black; 
    padding: 5px;
    overflow: auto; 
    height: 250px;

}

.comment{
    border: 1px solid black;
}

.post{

    background-color: #E6CCBE;
    border: 5px solid #522504;
    text-align: left;
    padding: 5px;
    margin: 5px;

}

.post h1{
    background-color: transparent !important;
    border: 0 !important;
    color: black !important;
    text-align: center;
}

.post button{
    text-align: center;
}

.metadata {
    color: #522504; 
    font-style: italic;
    padding: 0px; 
    margin: 1px;
}

.adminName {
    color: #5d22bd; 
    font-style: bold;
    padding: 0px; 
    margin: 1px;
}

.selectedPost{
    overflow: scroll;
}

.headTitle {
    background-color: #A07178; 
    color:#E9D0C4; 
    font-size: 4vmin;
    border: 5px solid #624146; 
    text-align: center;
    margin-top: 0;
}

.community button{
    background-color: #776274;
    color: white;
    border: black;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: medium;
    margin: 10px;
    
}

.community button:hover{
    background-color: #A07178;

    
}

.postButton{
    background-color:#522504 !important;
    color: white;
    border: black;
    border-radius: 10px;
    height: 80px;
    font-size: large !important;
    margin-left: 5% !important; 
    width: 90% !important;

    
}

.postButton:hover{
    background-color: #A07178 !important;

    
}